

.navbar-custom {
    background-color: #4b6a86; /* Change this to the desired navbar background color */
  }
  .main-content {
    background-color: #ffffff; /* Change this to the desired content background color */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .dropdown-menu {
    width: 300px;
    padding: 10px;
  }
  .card {
    margin-bottom: 10px;
  }

  .bold-label {
    font-weight: bold; /* Makes text bold */
}