<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="text-center mb-4">User Information</h2>
          <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="fullName" class="bold-label">Full Name *</label>
              <input type="text" class="form-control mt-1" id="fullName" formControlName="fullName"
                placeholder="Enter your full name">
              <div *ngIf="userForm.get('fullName')?.invalid && userForm.get('fullName')?.touched" class="text-danger">
                Full Name is required.
              </div>
            </div>
            <div class="form-group mt-3">
              <label for="fatherName" class="bold-label">Father's Name *</label>
              <input type="text" class="form-control mt-1" id="fatherName" formControlName="fatherName"
                placeholder="Enter your father's name">
              <div *ngIf="userForm.get('fatherName')?.invalid && userForm.get('fatherName')?.touched"
                class="text-danger">
                Father's Name is required.
              </div>
            </div>
            <div class="form-group mt-3">
              <label for="gender" class="bold-label">Gender *</label>
              <select class="form-control mt-1" id="gender" formControlName="gender">
                <option value="" disabled selected>Select your gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
              </select>
              <div *ngIf="userForm.get('gender')?.invalid && userForm.get('gender')?.touched" class="text-danger">
                Gender is required.
              </div>
            </div>
            <div class="form-group mt-3">
              <label for="email" class="bold-label">Email *</label>
              <input type="email" class="form-control mt-1" id="email" formControlName="email"
                placeholder="Enter your email">
              <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched" class="text-danger">
                Valid Email is required.
              </div>
            </div>
            <div class="form-group mt-3">
              <label for="dob" class="bold-label">Date of Birth *</label>
              <input type="any" class="form-control mt-1" id="dob" formControlName="dob">
              <div *ngIf="userForm.get('dob')?.invalid && userForm.get('dob')?.touched" class="text-danger">
                Date of Birth is required.
              </div>
            </div>
            <div class="form-group mt-3">
              <label for="phoneNumber" class="bold-label">Phone Number *</label>
              <input type="tel" class="form-control mt-1" id="phoneNumber" formControlName="phoneNumber"
                placeholder="Enter your phone number">
              <div *ngIf="userForm.get('phoneNumber')?.invalid && userForm.get('phoneNumber')?.touched"
                class="text-danger">
                Valid Phone Number is required.
              </div>
            </div>
            <div class="form-group mt-3">
              <label for="phoneNumber" class="bold-label">AADHAAR Number *</label>
              <input type="text" class="form-control mt-1" id="aadhaar" formControlName="aadhaar"
                placeholder="Enter your AADHAAR number">
            </div>
            <div class="form-group mt-3">
              <label for="phoneNumber" class="bold-label">PAN Number *</label>
              <input type="text" class="form-control mt-1" id="pan" formControlName="pan"
                placeholder="Enter your PAN number">
            </div>
            <div class="form-group mt-3">
              <label for="address" class="bold-label">Address *</label>
              <textarea class="form-control mt-1" id="address" formControlName="address" rows="3"
                placeholder="Enter your address"></textarea>
              <div *ngIf="userForm.get('address')?.invalid && userForm.get('address')?.touched" class="text-danger">
                Address is required.
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block mt-4" [disabled]="!userForm.valid">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>