<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="text-center mb-4">User Information</h2>
        <form>
          <div class="form-group">
            <label for="fullName " class="bold-label">Full Name *</label>
            <input type="text" class="form-control mt-1" id="fullName" placeholder="Enter your full name" required>
          </div>
          <div class="form-group mt-3">
            <label for="fathersName" class="bold-label">Father's Name *</label>
            <input type="text" class="form-control mt-1" id="fathersName" placeholder="Enter your father's name" required>
          </div>
          <div class="form-group mt-3">
            <label for="gender" class="bold-label">Gender *</label>
            <select class="form-control mt-1" id="gender" required>
              <option value="" disabled selected>Select your gender</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
            </select>
          </div>
          <div class="form-group mt-3">
            <label for="email" class="bold-label">Email *</label>
            <input type="email" class="form-control mt-1" id="email" placeholder="Enter your email" required>
          </div>
          <div class="form-group mt-3">
            <label for="dob" class="bold-label">Date of Birth *</label>
            <input type="date" class="form-control mt-1" id="dob" required>
          </div>
          <div class="form-group mt-3">
            <label for="phoneNumber" class="bold-label">Phone Number *</label>
            <input type="tel" class="form-control mt-1" id="phoneNumber" placeholder="Enter your phone number" required>
          </div>
          <div class="form-group mt-3">
            <label for="address" class="bold-label">Address *</label>
            <textarea class="form-control mt-1" id="address" rows="3" placeholder="Enter your address" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary btn-block mt-4">Submit</button>
        </form>
      </div>
    </div>
  </div>



  