<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <h2 class="text-start mb-4" style="font-weight: 600;">Login</h2>
      <form style="width: 350px;" [formGroup]="form" (ngSubmit)="submit()" class="card card-body">
        <div class="text-center mb-4">
          <img src="assets/logo.webp" alt="Logo" style="width: 100px;">
        </div>
        <div class="row">
          <div class="col-md-12">
            <!-- Username Field -->
            <div class="mb-3">
              <label for="username" class="form-label bold-label">Username</label>
              <input type="text" id="username" formControlName="email" class="form-control" placeholder="Enter your username">
              <div *ngIf="form.get('username')?.invalid && form.get('username')?.touched" class="text-danger">
                Username is required.
              </div>
            </div>
            
            <!-- Password Field -->
            <div class="mb-3">
              <label for="password" class="form-label bold-label">Password</label>
              <input type="password" id="password" formControlName="password" class="form-control" placeholder="Enter your password">
              <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="text-danger">
                Password is required.
              </div>
            </div>
          </div>
          
          <!-- Login Button -->
          <div class="col-md-12 d-flex justify-content-center mt-3">
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
